bin/Debug/net5.0/Modulares Handy.deps.json
bin/Debug/net5.0/Modulares Handy.dll
bin/Debug/net5.0/Modulares Handy.exe
bin/Debug/net5.0/Modulares Handy.pdb
bin/Debug/net5.0/Modulares Handy.runtimeconfig.dev.json
bin/Debug/net5.0/Modulares Handy.runtimeconfig.json
bin/Debug/net5.0/ref/Modulares Handy.dll
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/Modulares Handy.assets.cache
obj/Debug/net5.0/Modulares Handy.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/Modulares Handy.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Modulares Handy.dll
obj/Debug/net5.0/Modulares Handy.genruntimeconfig.cache
obj/Debug/net5.0/Modulares Handy.pdb
obj/Debug/net5.0/ref/Modulares Handy.dll
bin/
.vscode
obj/
Modulares Handy.csproj
